{% extends 'base.html' %}
{% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">O nas</h1>
                </div>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    </br>
                    </br>
                    </br>
                    <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim id justo ut posuere. Pellentesque ut venenatis velit, varius facilisis velit. Morbi quis nulla odio. Sed laoreet ac arcu vitae porttitor. Nulla auctor vehicula ante vitae hendrerit. Donec vitae molestie elit, eu congue tellus. Donec non dignissim mauris. Duis a felis purus. Nulla in gravida sapien. Integer commodo diam volutpat mi luctus dignissim. Aliquam diam justo, ullamcorper ut commodo et, ultrices faucibus enim. Proin sapien libero, aliquet nec hendrerit at, dignissim sit amet leo. Nulla eu erat euismod mauris euismod placerat. Nunc efficitur mi sit amet sapien faucibus ornare.

</br>Suspendisse mattis ante est, eleifend semper mauris lacinia id. Vivamus vitae felis sit amet dui posuere laoreet in a augue. In gravida eleifend nisi, ac feugiat enim tincidunt sed. Proin sit amet massa lorem. Maecenas posuere velit sit amet nunc finibus malesuada a sed orci. Vivamus sodales sem eu nunc gravida tempor. In mauris metus, fermentum et felis sit amet, ultrices ullamcorper erat.

</br>Vestibulum sit amet lacus non nulla pharetra tempus. Duis facilisis hendrerit nisi consectetur ullamcorper. Morbi non mi purus. Integer arcu erat, posuere eu ultricies sit amet, sagittis et leo. Praesent dignissim consequat ex, sed fringilla lacus. Pellentesque eros tellus, ullamcorper at scelerisque non, auctor eu ligula. Curabitur facilisis massa ut libero tempus sagittis. Morbi nunc elit, imperdiet gravida placerat et, vehicula in nunc.

</br>Nullam sed tempus arcu. Aliquam et condimentum ipsum. Donec laoreet, eros sed blandit sodales, sapien mauris placerat libero, eu maximus dui dui eget nisi. Mauris vitae arcu non arcu tempus venenatis ac nec risus. Ut mi ligula, pharetra porttitor efficitur at, luctus quis justo. Maecenas eu risus dui. Nam eget lectus vel ipsum porttitor pretium nec maximus velit. Nunc ornare vitae turpis nec fringilla.

</br>Donec quis viverra nibh, et gravida leo. Aenean et facilisis est, eget semper massa. Maecenas eu nunc quis purus pretium gravida nec nec massa. Sed interdum faucibus nibh, sed convallis lorem sagittis at. Donec sollicitudin tempus odio et condimentum. Ut finibus laoreet ultrices. Etiam eu purus arcu. Aliquam bibendum libero eu nisl sodales, nec sagittis ipsum laoreet. Quisque vehicula enim id dictum placerat. Sed dui augue, gravida nec fringilla id, dictum ac sapien. Morbi cursus augue ex, vitae vehicula justo fermentum at. Donec nisi nunc, consequat ullamcorper placerat nec, luctus eu urna. Pellentesque nisl nunc, ultrices non sapien sed, condimentum rhoncus metus.
                    </p>
                    </br>
                    </br>
                    </br>
                </div>
            </center>
        </div>
    </div>

{% endblock %}