{% extends 'base.html' %}
{% block content %}

<!-- Nagłówek-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">O nas...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Pasja do alkoholi</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
Jesteśmy pasjonatami alkoholi z całego świata. Nasza misja to dostarczanie najwyższej jakości trunków dla smakoszy i kolekcjonerów. Od klasyków po nowości, od lokalnych specjałów po międzynarodowe bestsellery - mamy coś dla każdego.
<br/><br/>
Nasza historia zaczęła się od małego sklepu z alkoholami. Z czasem, dzięki naszej pasji i zaangażowaniu, udało nam się stworzyć miejsce, które jest prawdziwym rajem dla miłośników alkoholi. Dziś jesteśmy dumni, że możemy podzielić się z Wami naszą pasją i wiedzą.
<br/><br/>
Zapraszamy do odkrywania świata alkoholi razem z nami. Wierzymy, że każdy trunek ma swoją historię i jest wyjątkowy na swój sposób. Dlatego staramy się, aby nasza oferta była jak najbardziej różnorodna i interesująca. Czy szukasz czegoś na specjalną okazję, czy po prostu chcesz spróbować czegoś nowego - jesteśmy tutaj, aby Ci pomóc.
</p>
<br/><br/><br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}